<%= simple_form_for(@session) do |f| %>
  <%= f.input :eth_message, input_html: {readonly: :true} %>
  <%= f.input :eth_address, input_html: {readonly: :true} %>
  <%= f.input :eth_signature, input_html: {readonly: :true} %>
<% end %>
<button class="btn btn-primary">Login with Ethereum</button>
<%= javascript_pack_tag "sessions_new", defer: true %>
