<% content_for :head do %>
  <%= javascript_pack_tag 'users_edit', 'data-turbolinks-track': 'reload', defer: true
  %>
<% end %>
<%= render 'shared/navbar_edit' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2>Welcome to your profile <%= @user.username %></h2>
      <p class="text-center">Upload a profile photo then select the widgets you want included in your profile below.</p>
      <!-- User can upload new image, or use the default -->
      <%= profile_photo(@user)%>
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :photo, as: :file, required: true, label: false %>
        <%= f.submit "Change profile photo", class: "btn btn-outline-secondary w-100" %>
      <% end %>
      <hr>
      <h3>Connect a widget</h3>
      <%= simple_form_for(@widget) do |f| %>
        <%= f.input :mirror %>
        <%= f.input :nfts %>
        <%= f.input :projects %>
        <%= f.submit "Save", class: "btn btn-outline-secondary w-100" %>
      <% end %>
      <hr>
      <!-- Projects are seperate objects, unlike Widgets which come grouped together -->
      <% if @widget.projects %>
        <h3>Add a project</h3>
        <%= simple_form_for(@project) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :url %>
          <%= f.submit "Save", class: "btn btn-outline-secondary w-100" %>
          <hr>
        <% end %>
      <% end %>
      <h3>Add your social accounts</h3>
      <!-- User can determine which socials they'd like on their profile page, when they input a url the icon will show -->
      <!-- Will need to let user know that they need to submit the full url, (https://) included -->
      <%= simple_form_for(@social) do |f| %>
        <%= f.input :instagram %>
        <%= f.input :github %>
        <%= f.input :tiktok %>
        <%= f.input :facebook %>
        <%= f.input :medium %>
        <%= f.submit "Save", class: "btn btn-outline-secondary w-100" %>
      <% end %>
      <!-- User chooses which Widgets are shown on profile page. State is maintained in DB. -->
      <hr>
      <!-- Link to view profile -->
      <a href="<%= user_show_path(@user) %>" class="btn btn-outline-secondary w-100" role="button" aria-pressed="true">View your profile</a>
      <p id="hidden" hidden><%= @user.eth_address %></p>
    </div>
  </div>
</div>
