<% content_for :head do %>
  <%= javascript_pack_tag 'users_edit', 'data-turbolinks-track': 'reload', defer: true
  %>
  <%= javascript_pack_tag 'github', 'data-turbolinks-track': 'reload', defer: true
  %>
<% end %>

<p id="hidden" hidden><%= @user.eth_address %></p>
<h1>Welcome to your profile <%= @user.username %></h1>

<p>Select which widgets you would like to include in your profile below</p>

<%= simple_form_for(@widget) do |f| %>
  <%= f.input :mirror %>
  <%= f.input :nfts %>
  <%= f.input :projects %>
  <%= f.submit "Submit", class: "btn btn-success" %>
<% end %>

<hr>

 <% if @widget.mirror %>
  <% if @mirror %>
    <h3>Writing Entries</h3>
    <% @mirror[:url].each_with_index do |element, index| %>
      <a href=<%= element %>><%= @mirror[:title][index] %></a>
      <br>
    <% end %>
  <% end %>
<% end %>

<% if @widget.nfts%>
  <h3>Digital Assets (NFT's)</h3>
    <div id="nfts">
    </div>
<% end %>

<div>
  <%= form_with url: "/search", method: :get do |form| %>
    <%= form.label :query, "Input Github profile" %>
    <%= form.text_field :query %>
  <% end %>
  <button class="btn btn-primary">Search</button>
</div>

<% if @widget.projects %>
  <h3>Projects</h3>
    <div id="projects">
    </div>
<% end %>
