<% content_for :head do %>
  <%= javascript_pack_tag 'users_edit', 'data-turbolinks-track': 'reload', defer: true
  %>
<% end %>
    <%= render 'shared/navbar_edit' %>
<div class="container">
  <div class="row justify-content-center">
  <div class="col-lg-6">
      <h2>Welcome to your profile <%= @user.username %></h2>
      <p>Select which widgets you would like to include in your profile below</p>
      <!-- User can upload new image, or use the default -->
      <%= profile_photo(@user)%>
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :photo, as: :file, required: true, label: false %>
        <%= f.submit "Change profile photo", class: "btn btn-primary w-100" %>
      <% end %>
            <hr>
      <!-- User can determine which socials they'd like on their profile page, when they input a url the icon will show -->
      <!-- Will need to let user know that they need to submit the full url, (https://) included -->
      <%= simple_form_for(@social) do |f| %>
        <%= f.input :instagram %>
        <%= f.input :github %>
        <%= f.input :tiktok %>
        <%= f.input :facebook %>
        <%= f.input :medium %>
        <%= f.submit "Submit", class: "btn btn-outline-secondary w-100" %>
      <% end %>
     <!-- Will display the Social links that the user inputted as part of the Socials form -->
      <hr>
      <div class="social-links d-flex justify-content-center">
        <% if @social.instagram != ""  %>
          <a href="<%=@social.instagram %>">
            <i class="fa-brands fa-instagram fa-2x p-2"></i>
          </a>
        <% end %>
        <% if @social.github != "" %>
          <a href="<%=@social.github %>">
            <i class="fa-brands fa-github fa-2x p-2"></i>
          </a>
        <% end %>
        <% if @social.tiktok != "" %>
          <a href="<%=@social.tiktok %>">
            <i class="fa-brands fa-tiktok fa-2x p-2"></i>
          </a>
        <% end %>
        <% if @social.facebook != "" %>
          <a href="<%=@social.facebook %>">
            <i class="fa-brands fa-facebook fa-2x p-2"></i>
          </a>
        <% end %>
        <% if @social.medium != "" %>
          <a href="<%=@social.medium %>">
            <i class="fa-brands fa-medium fa-2x p-2"></i>
          </a>
        <% end %>
      </div>
      <hr>
      <!-- User chooses which Widgets are shown on profile page. State is maintained in DB. -->
      <%= simple_form_for(@widget) do |f| %>
        <%= f.input :mirror %>
        <%= f.input :nfts %>
        <%= f.input :projects %>
        <%= f.submit "Submit", class: "btn btn-outline-secondary w-100" %>
      <% end %>
      <hr>
      <!-- Projects are seperate objects, unlike Widgets which come grouped together -->


      <% if @widget.projects %>
        <p>Create a project</p>
        <%= simple_form_for(@project) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :url %>
          <%= f.submit "Submit", class: "btn btn-outline-secondary w-100" %>
        <% end %>
      <% end %>
      <!-- IF the user selects on/true for the respective Widget. It will show in Edit & Profile page -->
      <% if @widget.mirror %>
        <% if @mirror %>
          <h3>Writing Entries</h3>
          <% @mirror[:url].each_with_index do |element, index| %>
            <a href=<%= element %>><%= @mirror[:title][index] %></a>
              <br>
            <% end %>
          <% end %>
        <% end %>
        <% if @widget.nfts%>
          <h3>Digital Assets (NFT's)</h3>
          <div id="nfts">
          </div>
        <% end %>
        <% if @widget.projects %>
          <h3>Projects</h3>
          <div id="projects">
          </div>
          <% @user.projects.each do |project|%>
            <div class="card">
              <div class="card-header">
                <h5><%= project.name %></h5>
              </div>
              <div class="card-body">
                <p class="card-text"><%= project.description %></p>
                <%= raw onebox_preview(project.url) %>
              </div>
            </div>
          <% end %>
        <% end %>
      <!-- Link to view profile -->
      <a href="<%= user_show_path(@user) %>" class="btn btn-outline-secondary w-100" role="button" aria-pressed="true">View your profile</a>
      <p id="hidden" hidden><%= @user.eth_address %></p>
      </div>
    </div>
  </div>
