<% content_for :head do %>
  <%= javascript_pack_tag 'users_new', 'data-turbolinks-track': 'reload', defer: true %>
  <%= javascript_pack_tag "sessions_new", defer: true %>
<% end %>

<%= simple_form_for(@user) do |f| %>
  <%= f.input :username %>
  <%= f.input :eth_address %>
  <%= f.input :eth_checksum %>
<% end %>
<button class="btn btn-primary">Sign-up with Ethereum</button>
