<% content_for :head do %>
  <%= javascript_pack_tag 'users_new', 'data-turbolinks-track': 'reload', defer: true %>
  <%= javascript_pack_tag "sessions_new", defer: true %>
<% end %>
    <%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 mt-5 mb-3">
      <h1>Create account</h1>
      <p class="mb-3">Add your photo, name, and Ethereum wallet information via Metamask so you can get started.</p>
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :username %>
        <%= f.input :eth_address, wrapper_html: {hidden: :true} %>
        <%= f.input :eth_checksum, wrapper_html: {hidden: :true} %>
      <% end %>
      <button class="btn btn-outline-secondary mt-5 w-100">Sign-up with Ethereum</button>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 my-5">
      <%= image_tag "profile_phone_placeholder.png", class: "img-responsive w-75", alt: "profile-placeholder" %>
    </div>
  </div>
</div>
