<% content_for :head do %>
  <%= javascript_pack_tag 'users_edit', 'data-turbolinks-track': 'reload', defer: true
  %>
  <%= javascript_pack_tag 'github', 'data-turbolinks-track': 'reload', defer: true
  %>
<% end %>

<h1>Welcome to <%= @user.username%>'s page!</h1>

<p id="hidden" hidden><%= @user.eth_address %></p>


<% if @widget.nfts%>
  <h3>Digital Assets (NFT's)</h3>
    <div id="nfts">
    </div>
<% end %>

<div>
  <%= form_with url: "/search", method: :get do |form| %>
    <%= form.label :query, "Input Github profile" %>
    <%= form.text_field :query %>
  <% end %>
  <button class="btn btn-primary">Search</button>
</div>

<% if @widget.projects %>
  <h3>Projects</h3>
    <div id="projects">
    </div>


  <% @user.projects.each do |project|%>
    <div class="card">
      <div class="card-header">
        <h5><%= project.name %></h5>
      </div>
      <div class="card-body">
        <p class="card-text"><%= project.description %></p>
        <%= raw onebox_preview(project.url) %>
      </div>
    </div>
  <% end %>
<% end %>
