<% content_for :head do %>
  <%= javascript_pack_tag 'users_edit', 'data-turbolinks-track': 'reload', defer: true
  %>
<% end %>
<%= render 'shared/navbar_profile' %>
<section class="block">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 mx-auto">
        <div class="mb-3">
          <%= profile_photo(@user)%>
        </div>
        <h2><%= @user.username%></h2>
        <p id="hidden" hidden><%= @user.eth_address %></p>
        <div class="profile my-5">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </div>

        <% if @widget.nfts%>
          <h3>Digital Assets (NFT's)</h3>
          <div id="nfts">
          </div>
        <% end %>

  <% if @widget.mirror %>
        <% if @mirror %>
          <h3>Writing Entries</h3>
          <% @mirror[:url].each_with_index do |element, index| %>
            <a href=<%= element %>><%= @mirror[:title][index] %></a>
              <br>
            <% end %>
          <% end %>
        <% end %>
  <% if @widget.projects %>
        <h3>Projects</h3>
        <div id="projects">
        </div>
        <% @user.projects.each do |project|%>
          <div class="card">
            <div class="card-header">
              <h5><%= project.name %></h5>
            </div>
            <div class="card-body">
              <p class="card-text"><%= project.description %></p>
              <%= raw onebox_preview(project.url) %>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</section>
