<!DOCTYPE html>
<html>
  <head>
    <title>MoonLink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://kit.fontawesome.com/178a109485.js" crossorigin="anonymous"></script>
    <%= yield :head %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
    <div class="main-content">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 my-5">
            <h1>Create account</h1>
            <p>Add your photo, name, and Ethereum wallet information via Metamask so you can get started.</p>
            <%= yield %>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 my-5">
            <%= image_tag "profile_phone_placeholder.png", alt: "profile-placeholder" %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
