<!DOCTYPE html>
<html>
  <head>
    <title>MoonLink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/178a109485.js" crossorigin="anonymous"></script>
    <%= yield :head %>
  </head>
    <%= render 'shared/flashes' %>
  <body>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <%= yield %>
  </body>
  <%= render 'shared/footer' %>
</html>
