<!DOCTYPE html>
<html>
  <head>
    <title>LandingPage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://kit.fontawesome.com/178a109485.js" crossorigin="anonymous"></script>
    <%= yield :head %>
  </head>

  <body>
      <%= render 'shared/navbar' %>
  <div class="container">
  <div class="hero">
    <h1>Content block made to go to the 🚀</h1>
  </div>
    <%= yield %>
    </div>
  </body>
</html>
